body {
  background: #333;
}

.main-content {
  margin-top: 10px;
}

.bg {
  background-image: url('index.jpg');
  background-size: 100%;
}

.header > nav {
  margin-top: 10px;
}

.header a {
  color: #FFF;
}


.header a:hover {
  color: #337ab7;
}